/* style.css */
QMainWindow {
    background-color: #181928;
    color: #FFFFFF;
}

QWidget {
    background-color: #181928;
    color: #FFFFFF;
}

QLabel, QPushButton, QTextEdit, QComboBox, QListWidget, QTreeWidget {
    color: #FFFFFF;
    background-color: #181928;
    border: none;
}

/* Estilo para botões Yes e No em QMessageBox */
QMessageBox QPushButton {
    background-color: #2C2F3F;
    color: #8BE9D9;
    border: 1px solid #3C3C5A;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}

QMessageBox QPushButton:hover {
    background-color: #222236;
    color: #FFFFFF;
}

QMessageBox QPushButton:pressed {
    background-color: #3C3C5A;
    color: #D4F8F2;
}

/* Estilo para QLineEdit */
QLineEdit {
    color: #FFFFFF;
    background-color: #2C2F3F; /* Cor de fundo padrão */
    border: 1px solid #3C3C5A; /* Borda padrão */
    padding: 5px;
    border-radius: 5px;
}

QLineEdit:focus {
    border: 1px solid #D4F8F2; /* Borda ao focar */
    background-color: #1E2130; /* Fundo mais escuro ao focar */
}

QLineEdit:disabled {
    color: #7A7B8C; /* Cor do texto quando desabilitado */
    background-color: #2C2F3F; /* Fundo quando desabilitado */
}

/* Estilo para QLineEdit */
QTextEdit {
    color: #FFFFFF;
    background-color: #2C2F3F; /* Cor de fundo padrão */
    border: 1px solid #3C3C5A; /* Borda padrão */
    padding: 5px;
    border-radius: 5px;
}

QTextEdit:focus {
    border: 1px solid #D4F8F2; /* Borda ao focar */
    background-color: #1E2130; /* Fundo mais escuro ao focar */
}

QTextEdit:disabled {
    color: #7A7B8C; /* Cor do texto quando desabilitado */
    background-color: #2C2F3F; /* Fundo quando desabilitado */
}


/* Estilo para QComboBox */
QComboBox {
    color: #FFFFFF;
    background-color: #2C2F3F; /* Cor de fundo padrão */
    border: 1px solid #3C3C5A; /* Borda padrão */
    padding: 5px;
    border-radius: 5px;
}


/* Estilo para a lista de opções do QComboBox */
QComboBox QAbstractItemView {
    color: #FFFFFF;
    background-color: #2C2F3F; /* Fundo para lista de opções */
    border: 1px solid #3C3C5A;
}

QPushButton:hover {
    background-color: #222236;
    color: #FFFFFF;
}

QPushButton:pressed {
    background-color: #3C3C5A;
    color: #FFFFFF;
}

/* Estilo para QTableView */
QTableView {
    background-color: #181928;
    color: #FFFFFF;
}

QTableView::item:selected {
    background-color: #2C2F3F; /* Cor da linha selecionada */
    color: #D4F8F2; /* Cor do texto na linha selecionada */
}

/* Borda opcional ao redor dos itens selecionados */
QTableView::item {
    border: 1px solid transparent;
    padding: 5px;
}

.nav-button {
    background-color: #181928;
    color: #8BE9D9;
    border: none;
    padding: 10px 20px;
}

.nav-button:hover {
    background-color: #13141F;
}

/* Estilo para o botão selecionado */
.nav-button.selected {
    background-color: #13141F;
    color: #8BE9D9;
}

/* Estilo para QCheckBox */
QCheckBox {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #181928;
}
/* Estilo para QRadioButton */
QRadioButton {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #181928;
}

QRadioButton::indicator {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid #3C3C5A;
    background-color: #2C2F3F;
}

QRadioButton::indicator:checked {
    background-color: #4482C3;
    border: 1px solid #D4F8F2;
}

QRadioButton::indicator:hover {
    background-color: #222236;
}

/* Estilo para QButtonGroup - Aplicado através de QPushButton dentro de QButtonGroup */
QButtonGroup QPushButton {
    background-color: #2C2F3F;
    color: #FFFFFF;
    border: 1px solid #3C3C5A;
    padding: 5px;
    border-radius: 5px;
}

QButtonGroup QPushButton:hover {
    background-color: #222236;
    color: #FFFFFF;
}

QButtonGroup QPushButton:checked {
    background-color: #4482C3;
    color: #181928;
    border: 1px solid #D4F8F2;
}

/* Estilo da barra de rolagem */
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: #2C2F3F;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 5px;
}

/* Estilo do handle da barra de rolagem */
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background-color: #8BE9D9;
    min-height: 20px;
    min-width: 20px;
    border-radius: 5px;
}

/* Efeito ao passar o mouse sobre o handle */
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: #D4F8F2;
}

/* Setas da barra de rolagem */
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    background-color: #181928;
    border: 1px solid #3C3C5A;
    width: 15px;
    height: 15px;
    /* subcontrol-origin: margin; */
}

/* Efeito ao passar o mouse sobre as setas */
QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover,
QScrollBar::add-line:horizontal:hover, QScrollBar::sub-line:horizontal:hover {
    background-color: #222236;
}

Remover setas quando não são necessárias
QScrollBar::add-line:vertical:disabled, QScrollBar::sub-line:vertical:disabled,
QScrollBar::add-line:horizontal:disabled, QScrollBar::sub-line:horizontal:disabled {
    background: none;
}

/* Remover espaço vazio acima e abaixo da barra */
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
